/*
@import url('tablet.css');
@import url('phone.css');
*/

.wrapper{
    width: 80%;
    margin-left: 10%;
}

.article-list li{
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    float: left;
}

article img{
    width: 100%;
}

.moldura{
    position: relative;
}

.titulo-imagem{
    width: calc(100% - 10px);
    background: orange;
    text-align: center;
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    height: 20px;
    padding: 5px;
}