div{
    /*ESTE E UM COMENTARIO EM CSS*/
    width: 600px;
    height: 400px;
    background-color: orange;
    margin-left: 20px;
    margin-top: 40px;
    margin-right: 25px;
    margin-bottom: 50px;

    margin: 40px 25px 50px 20px;
    
}

/*DEFINIR CLASS EM CSS*/
.par{
    background-color: red;
}
p{
    font-size: 18px;
    margin: 0;
}

.par p{
    background-color: lightblue;
}

.par p span{
    width: 1000px;
    background-color: purple;
}
