@font-face {
    font-family: 'A-minha-fonte';
    src: url(../assets/fonts/Pacifico-Regular.ttf);
}

body{
    font-family: Arial, Helvetica, sans-serif
}

.wrapper{
    width: 100%;
    height: 1000px;
    background: orange;
}

header{
    padding-top: 15px;
    width: 100%;
    height: 50px;
    /*background-color: rgb(255, 255, 255);*/
    background: #ffffff;
    float: left;
}

.hero{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/banner.jpg);
    background-position: top center;
    float: left;
}

.main-content{
    width: 100%;
    height: 300px;
    float: left;
    background: green
}

.box-content{
    width: 100%;
    background: #f6755e;
    color: #fcdcd6;
    height: 200px;
    float: left;
}

section.article-section{
    width: 100%;
    background: #fff;
    height: 200px;
    float: left;
}

footer{
    width: 100%;
    height: 200px;
    background: #25a2c3;
    float: left;
}

header div{
    text-align: center;
}

header div:first-child{
    width: 100px;
    height: 100px;
    background: red;
    float: left;
    
}

header div:nth-child(2){
    width: calc(100% - 200px);
    float: left;
    font-family: 'A-minha-fonte';
}

header div:nth-child(3){
    padding-right: 15px;
    width: 85px;
    height: 100px;
    float: right;
}

header div button{
    width: 100%;
    height: 35px;
    background-color: #fff;
    color: #727a82;
    border: 2px solid #727a82;
    border-radius: 5px;
}