.caixa-1 , .caixa-2 , .caixa-3 , .caixa-4{
    width: 100px;
    height: 100px;
    margin: 20px;
    float: left;
    display: none;
}

.caixa-1{
    background: green;
}

.caixa-2{
    background: blueviolet;
}

.caixa-3{
    background: rgb(255, 8, 0);
}

.caixa-4{
    background: rgb(0, 47, 255);
}