.caixa-1{
    width: 100px;
    height: 100px;
    background: red;
    display: none;
    margin: 20px;
}

.caixa-2{
    width: 100px;
    height: 100px;
    background: green;
    display: none;
    margin: 20px;
}

.caixa-3{
    width: 400px;
    height: 200px;
    background: yellow;
    color: white;
}

.caixa-3-activa{
    width: 500px;
    height: 300px;
    background: lightseagreen;
    color: black;
}