.wrapper{
    width: 70%;
    margin-left: 15%;
}

.box-container{
    width: 100%;
    background: forestgreen;
    display: flex;
}

.box-container div{
    width: 200px;
    min-height: 250px;
    margin: 20px;
    background: lavender;
}

.box-container .moldura{
    width: 100%;
    height: 200px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.moldura img{
    width: 100%;
}

.box-container figure{
    position: relative;
    height: 100%;
}

.box-container .overlay{
    position: absolute;
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.5);
    top: 0%;
    bottom: 0%;
    left: 0%;
    margin: 0%;
    /*opacity: 0.5;*/
    color: #ffffff;
}

@media screen and (max-width:600px) {

    .wrapper{
        width: 95%;
        margin-left: 2.5%;
    }

    .box-container{
        flex-direction: column;
    }

    .box-container div{
        width: 100%;
        margin: 0;
    }

}
