#top-menu{
    width: 100%;
    float: left;
}

#top-menu li{
    width: 20%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#top-menu a,
#top-menu a:visited{
    color: #000;
    text-decoration: none;
}

#top-menu li:hover{
    background: orange;
    color: #fff;
    /*cursor: pointer;*/
}

#top-menu .dropdown li{
    width: 100%;
    
}

.dropdown{
    display: none;
}

#top-menu li:hover .dropdown{
    display: block;
}

#top-menu .dropdown li:hover{
    background-color: blue;
}

#top-menu .dropdown2 li{
    width: 100%;
}

.dropdown2{
    display: none;
}

#top-menu li:hover .dropdown2{
    display: block;
}

#top-menu .dropdown2 li:hover{
    background-color: blue;
}