.box-content{
    display: flex;
    flex-direction: row-reverse;
}

.caixa{
    width: 500px;
    height: 100px;
    background: red;
    margin: 20px;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.impar{
    flex-direction: row;
}