.wrapper{
    width: 90%;
    margin-left: 5%;
    float: left;
}

.moldura-video{
    margin: 20px;
    width: calc(50% - 42px);
    border: 1px solid #d3d3d3;
    float: left;
    min-height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.moldura-video iframe{
    margin-bottom: -5px;
    height: 400px;
}

.moldura-video video{
    width: 120%;
}